html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    overflow-x: hidden;
}

#videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Drag & drop */
#dropZone {
    border: 2px dashed #6c757d;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#dropZone.drag-over {
    background-color: rgba(0, 0, 0, 0.03);
}
